<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Bus Information</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>
        <p th:each="bus: ${busInfo.buses}">
            Bus <span style="font-weight: bold" th:text="${bus.lineName}"></span>
            heading to <span style="font-weight: bold" th:text="${bus.destinationName}"></span>
            will arrive at stop <span style="font-weight: bold" th:text="${bus.platformName}"></span>
            on <span style="font-weight: bold" th:text="${bus.stationName}"></span>
            in approx. <span style="font-weight: bold" th:text="${bus.timeToStation/60}"></span>
            minutes
        </p>
    </div>
</div>
</body>
</html>